name: Pipeline with Unit Testing

on: 
  workflow_dispatch:
  push:
    branches:
      - main
    
jobs:
    unit-testing:
        name: Unit Testing
        strategy:
          matrix: 
            nodejs_version: [18, 19, 20]
            os: [ubuntu-latest, macos-latest]
            exclude:
              - nodejs_version: 18
                os: macos-latest
        runs-on: ${{ matrix.os }}
        
        steps:
        - name: Checkout Repository
          uses: actions/checkout@v4

        - name: Setup NodeJS Version - ${{ matrix.nodejs_version }}
          uses: actions/setup-node@v3
          with:
            node-version: ${{ matrix.nodejs_version }}
    
        - name: Install Dependencies
          run: npm install
    
        - name: Unit Testing
          run: npm test
          
        - name: Archive Test Result
          uses: actions/upload-artifact@v4
          with:
            name: Mocha-Test-Result
            path: test-results.xml